<h1> Review for <% @field.name %> has been deleted! </h1>

	<div class="field">
		<%= label :comments %> <br>
		<%= text_area :comment, size: "40x6" %>
	</div>

	<div class="rating">
		<%= label :rating %> <br>
		<%= text_area :rating %>
	</div>

	<% end %>
	<br>
<button class="btn btn-default" type="submit">
<%= link_to 'Back to Stadiums List!', fields_path %> </button>