<%= form_for [@review.field, @review] do |f| %>

	<div class="field">
		<%= f.label :comments %> <br>
		<%= f.text_area :comments, size: "50x10" %>
	</div>

	<div class="rating">
		<%= f.label :rating %> <br>
		<%= f.text_field :rating %>
	</div>
<% end %>

<br>

<%= link_to 'Back to the list!', fields_path %>