<h2>Edit a Field </h2>

<%= form_for @field do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<div>
		<%= f.label :team %>
		<%= f.text_field :team %>
	</div>

	<div>
		<%= f.label :league %>
		<%= f.text_field :league %>
	</div>

	<div>
		<%= f.label :address %>
		<%= f.text_field :address %>
	</div>

	<%= f.submit "Update Field!" %>

<% end %>
<button class="btn btn-default" type="submit">
<%= link_to "Back to list", fields_path %> </button>