<h1> <%= @field.name %> </h1> 


<p> This field is the home of the <%= @field.team %>, it is in the <%= @field.league %>, it is located at <%= @field.address %>
</p>

<%= link_to "Back to index", fields_path %>

<%= link_to "Edit a Field", edit_field_path %>


<%= link_to "Delete this Field", method: :delete, data: {confirm: "Are you sure you want to delete this field"} %>

<%#= link_to "Submit a Review", new_stadium_review_path %>
